html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top:80px;
    margin-bottom: 140px;
}
.se-margin-top { margin-top:10px; }

.homebutton {
    width:75px;
    height:75px;
    border:1px solid black;
    border-radius: 50%;
}

.jumbotron {position:relative;}

.jumbotron img {position: absolute; top:10px; right:10px;}

#detailPage .jumbotron{background-attachment:fixed;background-position:center top;background-size:cover;position:relative;width:100%;height:300px}
#detailPage .jumbotron .hero{background-attachment:fixed;margin:0 auto;padding:120px 0 220px;width:100%}
#detailPage .jumbotron .container{text-align:center}
#detailPage .jumbotron h1{font-family:'Georgia'; font-size:64px;font-weight:400;color:#fff; }
#detailPage .jumbotron p{font-family:'Open Sans',sans-serif;color:#fff;font-size:25px}
#detailPage h2.subtitle { margin:10px auto; font-size:20px; text-align:center;}
#detailPage .page {padding:40px 10px}
#detailPage .page:nth-child(even) {background-color:#f1f1f1}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    min-height: 100px;
    background-color: #999;
    color:#fff;
}